<aside>
    <section>
        <ul class="list-group list-group-flush">
            {% if SOCIAL %}
                <li class="list-group-item"><h4><i class="icon-home icon-large"></i>Social</h4></li>
                {% for name, link in SOCIAL %}
                    <li class="list-group-item"><a href="{{ link }}"><i
                        class="{% if name|lower == 'weibo' %} icon-{{ name|lower }} {% endif %} icon-{{ name|lower }}-sign icon-large"></i>{{ name }}
                    </a></li>
                {% endfor %}
            {% endif %}
        </ul>
    </section>
    {% include 'includes/github.html' %}
</aside>
